<h1>URL helpers</h1>

<%# the rails way: don't hardcode your URLS (in case they change) %>
<%= link_to "Home", root_path %>
<%= link_to "Numbers", numbers_path %>
<%= link_to "Text", text_path %>
<%= link_to "Assets", assets_path %>
<%= link_to "URL", url_path %>