<!DOCTYPE html>
<html>
  <head>
    <title>BooksOnWallStreet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="space"></div>
      <nav>
        <img src="/assets/galogo.png" alt="General Assembly logo">
        <div class="navLinks">
          <a href="/">Home</a>
          |
          <a href="/books">Books</a>
          |
          <a href="/stocks">Stocks</a>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
